
.container {
  position: relative;
  
}

.topleft {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 25%;
  color: white;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 50px;
  opacity: 0.5;


}
.more {
   margin-left: 25px;
  text-decoration: none;
  padding-top: 50%;
  color: rgb(219, 151, 25);
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 30px;
  transition: 0.5s;
}
.more:hover{
  text-decoration: solid;
  font-size: 35px;

}
.h1 {
  color: rgb(219, 151, 25);
  padding-top: 10%;
  margin-left: 30px;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 70px;

}

img { 
  width: 100%;
  height: auto;
}
ul {

  margin-top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;}

  .tfo{
    float:right
  }

  form {
    margin-bottom: -40px;
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    margin-left: 35%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  button[type="submit"] {
  
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: rgb(219, 151, 25);
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color:rgb(117, 97, 60);
  }
  .img{
    width: 320px;
    float: left;
    
    border: 2px solid white;
    border-radius: 10px;
    
 

  }
  .us{
    top: -15px;
    bottom: 30px;
    font-size: 60px;
  text-align: center;
  color: rgb(219, 151, 25) ;
  }
  .aboutus{
  
    margin-left:0;
    background-color: black;
    
    width: 100%;
    text-align: center;

  }
  .text{
    margin-left: 30px;
    color: white;
  }
  .text h3{
    margin-left: 5%;
    font-size: 42px;
  }
  .text p{
    font-size: 16px;
  }
  
  .POPULAR{
    font-size: 42px;
    color: orange;
    margin-left: 40%;
  }
  .bobila{
    float:left ;
    width:200px;
    padding:5px ;
    transition: 0.5s;
  }
  .bobila:hover{
    opacity: 0.5;
  }
  .row{
    background-color: black;
  }
  .row::after{
    content: "";
    display: table;
    clear: both;
  }

.cahd{
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color:black;
  padding: 10px;
  padding-top: 30px;
  
}
.img1{
  height: 195px;
    width: 284px;
    transition: 0.5s;
}
.img1:hover{
background-color: orange;
opacity: 0.9;
cursor: pointer;
}

.grid-container > div {

  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
}
.btn-shop{
  padding: 12px 8px ;
  width: 102px;
  border-radius: 5px;
  border: none;
  background-color: orange;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  font-size: 15px;
}
.btn-shop:hover{
  opacity: 0.9;
  border-radius: 10px;
  font-size: 20px;
  
}
footer {
  
  text-align: center;
  padding: 3px;
  background-color:orange;
  color: black;
  
  clear: both;
}




